<html lang="en">

<head>
  <link rel="stylesheet" href="/static/tyles/login.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet" />

</head>

<body>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <div id="messages">
    <% var messages;if (messages) { %>
    <% messages.forEach(message => { %>
    <div class="message"><%=message%></div>
    <% }) %>
    <% } %>
  </div>
  <form action="/register" method="post" enctype="application/x-www-form-urlencoded">
    <h3>Register Here</h3>

    <label for="username">Email</label>
    <input type="text" placeholder="example@mail.com" id="email" name="email" />

    <label for="username">Username</label>
    <input type="text" placeholder="username" id="username" name="username" />

    <label for="password">Password</label>
    <input type="password" placeholder="password" id="password" name="password" />

    <label for="confirm_password">Confirm Password</label>
    <input type="password" placeholder="confirm password" id="confirm_password" name="confirm_password" />

    <input type="submit" value="Register" />
    <div class="social">
      <div class="go" onclick="window.location.href='https://accounts.google.com/o/oauth2/auth?client_id=1052495542644-p5fnmn3l7oef1kaqtotihbd0cald3jtg.apps.googleusercontent.com&redirect_uri=http://localhost:3000/login/google&response_type=code&scope=email%20profile'">
        <i class="fab fa-google"></i>
        Google
      </div>
      <div class="fb" onclick="window.location.href='/login/microsoft'"><i class="fab fa-facebook"></i> Facebook</div>
    </div>
    <div id="register_login_instead" onclick="window.location.href='/login'">
      Login
    </div>
  </form>
</body>

</html>